@model HomeStaticViewViewModel

@{
    ViewBag.title = "ユーザ";
    var photoPath = "~/images/" + (Model.user.PhotoPath ?? "cat.png");
}

<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h1>@Model.user.Name</h1>
            </div>

            <div class="card-body text-center">
                <img class="card-img-top" src="@photoPath" asp-append-version="true"/>

                <h4>User ID : @Model.user.ID</h4>
                <h4>Email : @Model.user.Email</h4>
                <h4>Name : @Model.user.Name</h4>
                <h4>Hobby: @Model.user.UserHobby</h4>
            </div>
            <div class="card-footer text-center">
                <a  asp-controller="home" asp-action="viewallusers" class="btn btn-primary">Back</a>
                <a href="#" class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/CustomScript.js"></script>
}
